.button {
  box-sizing: border-box;
  background-color: inherit;
  border: 1px solid #171616;
  border-radius: 28px;
  color: #171616;
  cursor: pointer;
  font-size: 16px;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  padding: 2px;
  position: relative;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  padding: 8px 16px;
}

.button:hover {
  color: #171616;
  background-color: inherit;
  border: 1px solid #171616;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.solidLarge {
  background-color: #171616;
  color: white;
}
